<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div id="nav">
    <div class="container">
        <div>
            <ul>
                <li>
                    <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li><a href="#">Cars</a></li>
                <li><a href="#">Rentals</a></li>
                <li><a href="#">Brands</a></li>
                <li><a href="#">Colours</a></li>
            </ul>
        </div>
    </div>
</div>