<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="brand">
    <div id="title">
        <h3>{{title}}</h3>
    </div>

    <ul *ngIf="dataLoaded==true" class="list-group">

        <div class="mb-1 mt-0 search-form">
            <input [(ngModel)]="filterText" type="text" class="form-control" placeholder="Brand searching">
        </div>

        <li (click)="currentBrand=null" routerLink="/cars" class="list-group-item allbrand" [ngClass]="{'active': !currentBrand}">All Brands</li>
        <li class="list-group-item" (click)="currentBrand = brand" routerLink="/cars/brand/{{brand.brandId}}" [ngClass]="{'active': currentBrand === brand}" *ngFor="let brand of brands | brandFilterPipe:filterText">{{brand.brandName}}</li>
    </ul>

    <h3 *ngIf="currentBrand">{{currentBrand.brandName}} seçildi.</h3>