<h3>{{title}}</h3>
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<!-- <table *ngIf="dataLoaded==true" class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Brand Name</th>
        </tr>
    </thead>
    <tr *ngFor="let brand of brands">
        <td>{{brand.name}}</td>
    </tr>
</table> -->

<ul *ngIf="dataLoaded==true" class="list-group">
    <li (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}" *ngFor="let brand of brands" [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
</ul>
<h3 *ngIf="currentBrand">{{currentBrand.brandName}} seçildi.</h3>