<footer class="container-fluid bg-dark text-light position-relative">
    <div class="row p-4 pt-3 p-sm-5">
        <div class="col-7 col-sm-6 col-md-5 col-lg-2 d-lg-inline-flex mt-1 site-title-div">
            <h1 id="site-title" class="fs-3 fw-light d-inline">ReCap Car Rental</h1>
        </div>

        <div id="links" class="d-none d-lg-inline-flex col-lg-7 d-flex justify-content-center align-items-center">
            <a href="#" class="px-3 fs-5 link-light text-decoration-none">
                About Us
            </a>

            <a href="#" class="px-3 fs-5 link-light text-decoration-none">
                Contact
            </a>

            <a href="#" class="px-3 fs-5 link-light text-decoration-none">
                Help Center
            </a>

            <a href="#" class="px-3 fs-5 link-light text-decoration-none">
                New Offers
            </a>
        </div>

        <div id="social-medias" class="col-5 col-sm-6 col-md-7 col-lg-3 d-flex justify-content-center align-items-center text-light pt-1">
            <a href="#" class="px-1 px-sm-3 fs-5 link-light text-decoration-none">
                <i class="bi bi-facebook"></i>
            </a>

            <a href="#" class="px-1 px-sm-3 fs-5 link-light text-decoration-none">
                <i class="bi bi-instagram"></i>
            </a>

            <a href="#" class="px-1 px-sm-3 fs-5 link-light text-decoration-none">
                <i class="bi bi-twitter"></i>
            </a>

            <a href="#" class="px-1 px-sm-3 fs-5 link-light text-decoration-none">
                <i class="bi bi-youtube"></i>
            </a>
        </div>

        <div class="text-muted m-0 position-absolute author">
            by
            <a href="https://www.linkedin.com/in/mehmet-aziz-alg%C3%BCll%C3%BC-61088b1b6/" target="_blank" class="text-muted text-decoration-none">MAA</a>
        </div>
    </div>
</footer>