.filter {
    margin-top: 1.5px;
}

.col-md-5 {
    padding-left: 0;
}

@media (max-width:767px) {
    .row {
        width: 300px;
    }
    .col-md-1 {
        width: 50%;
        margin: 10px 0;
        padding-left: 0;
    }
    .btn-filter {
        width: 100%;
    }
    .btn-clear {
        width: 100%;
    }
}

@media (min-width:768px) {
    .row {
        width: 300px;
    }
    .col-md-1 {
        padding-left: 0;
        width: 50%;
    }
    .btn-filter {
        width: 100%;
    }
    .btn-clear {
        width: 100%;
    }
    .col-md-5 {
        width: 50%;
        margin-bottom: 5px;
    }
}

@media (min-width:991px) {
    .row {
        width: 597px;
    }
}

@media (min-width:1400px) {
    .row {
        width: 890px;
    }
}