<div class="filter mb-1">
    <div class="row">
        <div class="col-md-5">
            <select class="form-select" id="brandselect" [(ngModel)]="currentBrandId">
          <option [ngValue]="undefined" disabled selected>
            --- Brands ---
          </option>
          <option
            *ngFor="let brand of brands"
            [value]="brand.brandId"
            [selected]="setCurrentBrand(brand.brandId)"
          >
            {{ brand.brandName }}
          </option>
        </select>
        </div>
        <div class="col-md-5">
            <select class="form-select" id="colourselect" [(ngModel)]="currentColourId">
          <option [ngValue]="undefined" disabled selected>
            --- Colours ---
          </option>
          <option
            *ngFor="let colour of colours"
            [value]="colour.colourId"
            [selected]="setCurrentColour(colour.colourId)"
          >
            {{ colour.colourName }}
          </option>
        </select>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-md-1">
            <button class="btn btn-danger btn-filter" routerLink="/cars/filter/{{ currentBrandId }}/{{ currentColourId }}">
      Filter
    </button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-warning btn-clear" routerLink="/cars">Clear</button>
        </div>
    </div>
</div>