card-img {
    height: 20rem;
}

img {
    width: 17rem;
    height: 13rem;
    object-fit: contain;
}

@media (max-width: 737px) {
    img {
        width: 25rem;
    }
}

@media (min-width: 768px) {
    img {
        width: 13rem;
    }
}