<!-- NOOOTTT!! 
    ARABA RESMİ, TIRETRACK RESMİ YOK. BUNLAR İÇİN AHMETİN KODUNDAKİ ASSET DOSYASINI SEN DE BURADA OLUŞTUR.
-->


<div class="container">
    <div class="row position-relative justify-content-evenly align-items-center mb-5 mb-xl-0">
        <div class="col-12 col-lg-4 col-xl-5 col-xxl-4 mt-5 mb-lg-5 mb-xl-0 text-center text-lg-start">
            <h1 class="display-5 fw-bold">
                Do you want to rent a car and travel the world?
            </h1>
            <p>
                It's easy and fun with affordable pricing. Let's explore our different options!
            </p>
        </div>
        <div class="car-image-div col-12 col-sm-7 col-sm-8 col-md-7 col-lg-8 col-xl-7 col-xxl-6 mb-5 mb-xl-0">
            <img class="img-fluid car-image" src="../../../../../assets/images/car-yellow-1.png" alt="car image">
        </div>
        <div class="d-none d-sm-block position-absolute rotated">
            <img class="img-fluid" src="../../../../../assets/images/tire-track.png" alt="tire track image">
        </div>
        <div class="img-fluid d-none d-sm-block position-absolute shadow tire-track-bg">
        </div>
    </div>
    <div class="row">
        <app-search></app-search>
        <p class="text-center text-uppercase text-muted mt-5 fs-5">
            <strong>how it works?</strong>
        </p>
        <p class="display-3 text-center">
            Rent a car after 3 steps
        </p>
        <div id="cards"
            class="d-lg-flex d-lg-flex-row justify-lg-content-center align-items-lg-center text-center mt-3">
            <div class="card col-xl-3 shadow mx-auto">
                <i class="bi bi-geo-alt-fill color-red display-1"></i>
                <p class="fw-bold fs-4 mt-5">
                    Choose a location
                </p>
                <p class="fs-5">
                    Can choose any of our dealers.
                </p>
            </div>
            <div class="line d-none d-lg-block col">
                <img class="img-fluid" src="../../../../../assets/images/line.png" alt="">
            </div>
            <div class="line line-vertical d-block d-lg-none col mx-auto">
                <img class="img-fluid" src="../../../../../assets/images/line-vertical.png" alt="">
            </div>
            <div class="card col-md-9 col-xl-3 shadow mx-auto">
                <i class="bi bi-calendar-event-fill color-red display-1"></i>
                <p class="fw-bold fs-4 mt-5">
                    Pick-up Date
                </p>
                <p class="fs-5">
                    Can choose a range of date.
                </p>
            </div>
            <div class="line d-none d-lg-block col line-reverse">
                <img class="img-fluid" src="../../../../../assets/images/line.png" alt="">
            </div>
            <div class="line line-vertical d-block d-lg-none col mx-auto">
                <img class="img-fluid" src="../../../../../assets/images/line-vertical.png" alt="">
            </div>
            <div class="card col-md-9 col-xl-3 shadow mx-auto mb-3">
                <i class="bi bi-cart color-red display-1"></i>
                <p class="fw-bold fs-4 mt-5">
                    Book Your Car
                </p>
                <p class="fs-5">
                    Can choose car from rich catalog.
                </p>
            </div>
        </div>
    </div>
</div>