.color-red {
    color: #F47174;
}

.car-image {
    z-index: 5;
}

/* tire track */

.rotated {
    top: 17.5rem;
    left: 49rem;
    text-align: center;
    width: 59rem;
    height: 15rem;
    overflow: hidden;
    opacity: .6;
    z-index: 5;
    transform: rotate(-5deg);
}

.rotated img {
    width: 100%;
}

/* background of tire track (soft red) */

.tire-track-bg {
    top: 2rem;
    right: -2rem;
    transform: rotate(-5deg);
    border-radius: 20px;
    z-index: -1;
    width: 48rem;
    height: 32rem;
    background-color: #F47174;
}

/* lines */

.line {
    width: 15rem;
}

.line-vertical img {
    height: 15rem;
}

.line-reverse {
    transform: rotate(180deg);
}

/* card */

.card {
    border-radius: 30px;
    width: 15rem;
    height: auto;
}

/* responsive */

@media (min-width: 1401px) {
    .title {
        transform: rotate(-2deg);
        padding-bottom: 12rem;
    }

    .rotated {
        transform: rotate(-2deg);
        width: 70rem;
        height: 15rem;
        top: 21rem;
        left: 15rem;
    }
    .tire-track-bg {
        transform: rotate(-2deg);
        top: .5rem;
        right: 0rem;
        width: 100%;
        height: 35.8rem;
    }

    .search-component {
        margin-top: 11rem;
    }
}

@media (max-width:1400px) {
    .title {
        transform: rotate(-3deg);
        padding-bottom: 5rem;
    }
    .rotated {
        transform: rotate(-3deg);
        top: 18rem;
        left: 15rem;
    }
    .tire-track-bg {
        transform: rotate(-3deg);
        top: 1rem;
        right: 0rem;
        width: 100%;
        height: 32.6rem;
    }
    .search-component {
        margin-top: 15rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }
    .title {
        transform: rotate(0);
    }
    .tire-track-bg {
        top: 1rem;
        right: 30rem;
        width: 30rem;
        height: 22rem;
    }
    .search-component {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    .tire-track-bg {
        top: 13rem;
        right: 5rem;
        width: 35rem;
        height: 15rem;
    }

    .form-div {
        margin-top: 5rem !important;
    }
}

@media (max-width: 767px) {
    .tire-track-bg {
        top: 11rem;
        right: 5rem;
        width: 24.5rem;
        height: 19.85rem;
        margin-top: 5rem;
    }
    .car-image-div {
        margin-top: 5rem;
    }
}

@media (max-width: 576px) {
    .car-image-div {
        background-color: #F47174;
        border-radius: 10px;
    }
}