<div id="title">
    <h2>{{title}}</h2>
</div>
<br>

<div class="row">

    <app-car-filter></app-car-filter>
    <div class="mb-1 mt-0 search-form">
        <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Car searching">
    </div>

    <div *ngFor="let cardetail of cardetails | carFilterPipe:filterText" class="card" style="width: 18rem;">
        <img [src]="cardetail.imagePaths.length !== 0 ? imageBasePath+ cardetail.imagePaths[0] : imageBasePath + defaultImg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{cardetail.carName}} {{cardetail.dailyPrice}} TL</h5>
            <p class="card-text">{{cardetail.description}}</p>
            <a routerLink="/cars/car/{{cardetail.carId}}" class="btn btn-primary">Detaylar</a>
        </div>
    </div>

</div>