<h3>{{title}}</h3>
<br>

<div class="row">
    <div *ngFor="let cardetail of cardetails" class="card" style="width: 18rem;">
        <img [src]="cardetail.imagePaths.length !== 0 ? imageBasePath+ cardetail.imagePaths[0] : imageBasePath + defaultImg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{cardetail.carName}} {{cardetail.dailyPrice}} TL</h5>
            <p class="card-text">{{cardetail.description}}</p>
            <a routerLink="/cars/car/{{cardetail.carId}}" class="btn btn-primary">Detaylar</a>
        </div>
    </div>
</div>