.form-div {
    z-index: 10;
    background-color: #F47174;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);;
  }
 