/* You can add global styles to this file, and also import other style files */

body {
    background-color: #e4dede;
}

.btn-primary {
    background-color: #F47174;
    border-color: #F47174;
    transition: all .3s;
}

.btn-primary:hover {
    background-color: #d46163;
    border-color: #d46163;
}

.btn-primary:focus {
    background-color: #d46163;
    border-color: #F47174;
    box-shadow: 0 0 0 0.17rem rgb(212 97 99 / 50%);
}

.btn-primary:active {
    background-color: #F47174;
    border-color: #F47174;
    box-shadow: 0 0 0 0.17rem rgb(212 97 99 / 50%);
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 0.17rem rgb(212 97 99 / 50%);
}
