<div *ngFor="let cardetail of cardetails" class="item active">
    <h1>{{cardetail.carName}} Araba Detay Sayfası</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Car Name</th>
                <th>Brad Name</th>
                <th>Model Year</th>
                <th>Daily Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cardetail.carName}}</td>
                <td>{{cardetail.brandName}}</td>
                <td>{{cardetail.modelYear}}</td>
                <td>{{cardetail.dailyPrice}}</td>
                <td>{{cardetail.description}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Araca Ait Resimler</h4>
    <div *ngIf="cardetail.imagePaths.length==0" class="carimage">
        <img *ngIf="cardetail.imagePaths.length==0" [src]="imageBasePath + defaultImg" alt="Car Image" style="width:100%;">
    </div>

    <div *ngIf="cardetail.imagePaths.length>0" class="carimage">
        <img *ngIf="cardetail.imagePaths.length>0" [src]="imageBasePath + cardetail.imagePaths[0]" alt="Car Image" style="width:100%;">
    </div>

    <div *ngIf="cardetail.imagePaths.length>1" class="carimage">
        <img *ngIf="cardetail.imagePaths.length>1" [src]="imageBasePath + cardetail.imagePaths[1]" alt="Car Image" style="width:100%;">
    </div>

    <div *ngIf="cardetail.imagePaths.length>2" class="carimage">
        <img *ngIf="cardetail.imagePaths.length>2" [src]="imageBasePath + cardetail.imagePaths[2]" alt="Car Image" style="width:100%;">
    </div>

    <div *ngIf="cardetail.imagePaths.length>3" class="carimage">
        <img *ngIf="cardetail.imagePaths.length>3" [src]="imageBasePath + cardetail.imagePaths[3]" alt="Car Image" style="width:100%;">
    </div>

    <br><br>



</div>